:root {
  --first-color: #f5e1da;

  --second-color: #f1f1f1;

  --third-color: #49beb7;

  --fourth-color: #085f63;
}

.container {
  background-color: var(--second-color);
  max-width: 1400px;
  margin: auto;
  font-family: "EB Garamond", serif;
  text-align: center;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(thread.jpg);
  background-size: cover;
  padding: 150px;
}
h1 {
  color: var(--first-color);
  font-weight: 700;
  font-size: 80px;
  line-height: 1;
  margin: 30px 0;
}

h2 {
  color: var(--first-color);
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 10px;
}

h3 {
  color: var(--first-color);
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: var(--third-color);
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-flex;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background: var(--second-color);
  justify-content: center;
  border-radius: 3px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

footer {
  color: var(--first-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(footerimg.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10px;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
  margin-right: 20px;
  line-height: 24px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: var(--first-color);
  opacity: 0.7;
  text-decoration: none;
  transition: all 5ms ease-in-out;
}
footer a:hover {
  color: var(--fourth-color);
}

@media (max-width: 800px) {
  header {
    padding: 70px;
  }
  header h1 {
    font-size: 40px;
    margin: 10px;
  }
  header h2 {
    font-size: 25px;
  }
  header h3 {
    font-size: 18px;
  }
}
